/* ================== BG ======================== */
body{
    background-image: url('https://i.imgur.com/WrSk1JH.gif');
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
    background-position: center top;
  }
/* ============== Opening Screen====================== */
  h1{
    font-family: 'Fascinate', cursive;
    color:white;
    font-size: 100px;
    margin: auto;
    width: 50%;
    padding: 10px;
    top: 500px;
    text-align: center;
    padding-top: 200px;
    -webkit-text-stroke: 3px pink;
    text-shadow: 0px 2px 4px pink;
  }

  h3{
    font-family: 'Fascinate', cursive;
    color:white;
    font-size: 100px;
    margin: auto;
    width: 50%;
    padding: 10px;
    top: 500px;
    text-align: center;
    padding-top: 50px;
    -webkit-text-stroke: 3px pink;
    text-shadow: 0px 2px 4px pink;
  }

  h2{
    font-family: 'Concert One', cursive;
    color: white;
    margin-bottom: -10px;
    margin-top: 20px;
    text-align: center;
    -webkit-text-stroke: 1px pink;
    text-shadow: 0px 2px 4px pink;
  }

  .opening-buttons{
    position: absolute;
    top: 420px;
    left: 730px;
    margin: auto;
  }

  #start-button{
    background-color: pink;
    font-family: 'Concert One', cursive;
    border: white;
    border-radius: 30px;
    border-width: 5px;
    border-color: white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    /* margin-right: 20px ;
    margin-left: 460px ; */
  }

  #start-button:hover {
    background-color:white;
    color: pink;
    transition: 0.7s;
}

  #guideBtn{
    background-color: pink;
    font-family: 'Concert One', cursive;
    border: white;
    border-radius: 30px;
    border-width: 5px;
    border-color: white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    /* margin-right: 20px ;
    margin-left: 70px ; */
}

  #guideBtn:hover {
    background-color:white;
    color: pink;
    transition: 0.7s;
}


.top-buttons{
  text-align: center;
  margin-top: 150px;
  }

  /* =================== Split Screen =============== */
  #battle-screen {
    display: flex;
    justify-content: space-between;
    margin: 50px;
  }

/* ===================== Player(s)====================  */
  #name-p1{
    font-family: 'Concert One', cursive;
    font-size: 35px;
    color: white;
    -webkit-text-stroke: 1px rgb(115, 198, 192);
    text-shadow: 0px 2px 4px rgb(115, 198, 192);
    margin-top: 0px ;
  }

  #name-p2 {
    font-family: 'Concert One', cursive;
    font-size: 35px;
    color: white;
    -webkit-text-stroke: 1px rgb(132, 77, 87);
    text-shadow: 0px 2px 4px rgb(132, 77, 87);
    margin-top: 0px ;

  }
  /* ------- Controls ------------ */
  #player1-controls {
    display: flex;
    flex-direction: column;
    left: 100px;
  }
  
  #player1-controls button {
    background-color: white;
    width: 150px;
    height: 50px;
    margin: 10px;
    border: white;
    border-radius: 25px;
    border-width: 5px;
    border-color: white;
    font-size: 20px;
    font-family: 'Concert One', cursive;
    color: rgb(115, 198, 192);
  }

  #player1-controls button:hover {
    background-color:rgb(115, 198, 192);
    color: white;
    transition: 0.5s;
}
  
  #player2-controls {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  #player2-controls button {
    background-color: white;
    width: 150px;
    height: 50px;
    margin: 10px;
    border: white;
    border-radius: 25px;
    border-width: 5px;
    border-color: white;
    font-size: 20px;
    font-family: 'Concert One', cursive;
    color: rgb(132, 77, 87);

  }

  #player2-controls button:hover {
    background-color:rgb(132, 77, 87);
    color: white;
    transition: 0.5s;
}

/*---------- Health Bar ---------------  */
  .health-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background-color: rgba(240, 182, 177, 0.816);
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 25px;
  }

  .player1-health {
    width: 100%;
    height: 100%;
    background-color: rgb(115, 198, 192);
    border-radius: 25px;
  }

  .player2-health {
    width: 100%;
    height: 100%;
    background-color: rgb(132, 77, 87);
    border-radius: 25px;
  }
  /*================== Avatars ========================*/
  .avatar {
    width: 300px;
    height: 300px;
    background-image: url('https://i.imgur.com/o2wohTb.png');
    background-size: cover;
    border-radius: 50%;
    float: left;
    transform: scaleX(-1);
    margin-top: 200px;
    position: absolute;
    animation-name:  side-to-side-p1;
    animation-duration: .9s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index: 1000;
  }

  .avatar-win {
    width: 500px;
    height: 500px;
    background-image: url('https://i.imgur.com/o2wohTb.png');
    background-size: cover;
    border-radius: 50%;
    transform: scaleX(-1);
    margin-top: 50px;
    margin-left: 700px;
    position: absolute;

  }

  .avatar-p2 {
    width: 300px;
    height: 300px;
    background-image: url('https://i.imgur.com/hsAD6Ig.png');
    background-size: cover;
    border-radius: 50%;
    margin-top: 200px;
    position: absolute;
    animation-name:  side-to-side-p2;
    animation-duration: .9s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index: 1000;
  }

  .avatar-p2-win {
    width: 500px;
    height: 500px;
    background-image: url('https://i.imgur.com/hsAD6Ig.png');
    background-size: cover;
    border-radius: 50%;
    margin-top: 0px;
    margin-left: 750px;
    position: absolute;
  }

/* ============== Animation=================== */
@keyframes side-to-side-p1 {
  from {left: 10%;}
  to {left: 20%;}
}

@keyframes side-to-side-p2 {
  from {left: 70%;}
  to {left: 60%;}
}

  .hidden {
    display: none;
  }

  /* ============Audio Switch================== */
  
  .switch {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 10px;
    margin-bottom: -140px;
    margin-left: 690px;
    left: 240px;
  }

  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(132, 77, 87);
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: pink;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px pink;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }